h1 {
    position: relative;
    padding: 0.25em 0;
}
h1:after {
    content: "";
    display: block;
    height: 4px;
    background: -webkit-linear-gradient(to right, rgb(77, 73, 73), transparent);
    background: linear-gradient(to right, rgb(77, 73, 73), transparent);
}

h3 {

}

h5 {
    margin-bottom: 2px;
}

/* コンテンツ全体の外枠 */
.contents-area {
    width: 980px;
    margin-left: 30px;
}

/* 説明文 */
.description {
    font-size: 90%;
}

/* ラベル */
.label {
    text-align: right;
}
td.label {
    width: 100px;
}

/* テーブル */
.table {
    width: 100%;
    padding-left: 3px !important;
}

/* テーブル列（２分割用） */
.table-col {
    width: 50%;
}

/* 枠線なしのテーブル */
.table-borderless {
    border: 0;
}

/* コンフィグ用テーブル */
.table-config {
    font-size: 80%;
}

/* スクロールバー付きのテーブル */
.table-scrollable {

}

/* 横並び */
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-row > * {
    margin-right: 10px;
}
